<h1><%= @album.title %></h1>

<p><h3>Tracks:</h3>
  <ol>
    <% @album.tracks.sort { |a, b| a.id <=> b.id }.each do |track| %>
    <li><%= link_to track.title, track_path(track) %></li>
    <% end %>
  </ol>
  <%= link_to 'Create a new track', new_album_track_path(@album) %>
</p>

<p>
  <%= link_to 'Edit album', edit_album_path(@album)%>
  <br/>
  <%= link_to 'Delete album', album_path(@album), method: :delete,
                              data: { confirm: 'Are you sure?' } %>
</p>

<% band = @album.band %>
<p><%= link_to "Back to #{band.name}", band_path(band) %></p>
