<h1>Edit post</h1>

<form action='<%= post_path(@post) %>' method='post'>
  <%= csrf_tag %>
  <input type='hidden' name='_method' value='patch'>
    Sub:
    <br/>
      <% @subs.each do |sub| %>
        <label>
          <input type='checkbox' name='post[sub_ids][]' value='<%= sub.id %>'
            <%= 'checked' if @post.sub_ids.include?(sub.id) %>>
            <%= sub.title %>
        </label>
        <br/>
      <% end %>
  </label>
  <br/>
  <label>Title: <input type='text' name='post[title]' value='<%= @post.title %>'></label>
  <br/>
  <label>URL: <input type='text' name='post[url]' value='<%= @post.url %>'></label>
  <br/>
  <label>Content: <textarea name='post[content]'><%= @post.content %></textarea></label>
  <br/>
  <input type='submit' value='edit'>
</form>
