<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= flash[:notice] if flash[:notice] %>
  <%= render 'shared/errors' %>
  <%= render 'shared/logout' if current_user %>
</head>
<body>

<%= yield %>

</body>
</html>
