<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= flash[:notice] if flash[:notice] %>
  <% if flash[:errors] %>
    <ul>
      <% flash[:errors].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <% if logged_in? %>
    <%= button_to 'Log out', session_path, method: :delete %>
  <% end %>

<%= yield %>

</body>
</html>
